@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
	display: flex;
 	background-image: url("bg.jpeg");
 	background-repeat: no-repeat;
 	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	text-align: center;
	font-size: 56px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

p {
	font-size: 24px;
	font-weight: 1000;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	color: black;
}

input[type=text] {
  	border-radius: 7px;
  	width: 100%;
  	padding: 6px 10px;
  	margin: 2px 0;
  	box-sizing: border-box;
}

input[type=password] {
	border-radius: 7px;
  	width: 100%;
  	padding: 6px 10px;
  	margin: 2px 0;
  	box-sizing: border-box;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,1), 
			0 10px 10px rgba(0,0,0,1);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

a {
	color: green;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
input[type=submit] {
	border-radius: 20px;
	border: 1px solid lightgreen;
	background-color: green;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

input[type=submit]:active {
	transform: scale(0.95);
}

input[type=submit]:focus {
	outline: none;
}

input[type=submit].ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}